html{

}
body{
  margin:0;
  cursor: url(https://cursors3.totallyfreecursors.com/thumbnails/flag.gif), auto;
  background: #0B486B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.scroll-left {

 overflow: hidden;
 position: sticky;
 background: black;
 top:0;
 color: white;
 height: 3em;
 padding: 1em;
}
.scroll-left p {
  font-family: 'Cinzel', serif;
  font-size: 1.2em;
 position: absolute;
 min-width: 400vw;
 margin: 0;
 /* Starting position */
 transform:translateX(0%);
 /* Apply animation to this element */
 animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
 0%   {
 transform: translateX(0%);
 }
 100% {
 transform: translateX(-100%);
 }
}}


p{
 font-size: 10px;
 padding: 0;
 margin: 0;
 max-width: 50em;
}



a {
  font-family: sans-serif;
  color:white;
  cursor: url(https://cursors0.totallyfreecursors.com/thumbnails/skull-flag.gif), auto;
}

header{

  font-family: 'Cinzel', serif;
  /*position:sticky;
  top:0;*/
  margin:auto;
  border: .5em white outset;
  padding: 1em;
  background: #2196f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.collapsible-header{
  font-family: cursive;
  color: black;
  width: 100%;
  height: 1em;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  transition: 0.4s;
}

.collapsible-body{
  border: 1em blue groove;
 background:white;
 max-width: 60em;
 margin: auto;
 padding: 1em;

}

.section{
  max-width: 50em;
  margin: auto;

}


img{
  margin: auto;
  width: 50%;
    width: 45em;
    border-radius: 1em;
    margin: 1em 2em;
}

#intro{
 border: 1em blue;
 border-style: groove;
background:white;
margin: auto 0;
font-family: 'Spectral', serif;
padding: 2em 6em;
}

#intro-header{
  border: .3em red outset;
  height: 2.5em;
  background: -webkit-linear-gradient(to bottom, #f44336, #2196f3);
  background: linear-gradient(to bottom, #f44336, #2196f3);

  color: white

}


#symbols{

}

#rituals{
  background-color: blue;
}

#myths{
  background-color: #B6D0E2;
}

#maindiv{
  background: darkred;
  color: white;
  border: .3em outset lightblue;
  height: 2.5em;
  font: 1.2em cursive;
  overflow: hidden;
  white-space: nowrap;
  padding: .1em;
}

#div1 {
  display: inline-block;
  animation: marquee 24s linear infinite;
}

#div2 {
  display: inline-block;
  animation: marquee2 24s linear infinite;
  animation-delay: 12s;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
.glow {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px blue, 0 0 10px red;
  }
  to {
    text-shadow: 0 0 20px white, 0 0 30px red;
  }
}



/*.section-container{
  max-width: 60em;
}

.intro{
  background:#fcf2e9;
}


.symbols{
  background-color:#d5d1d6;
}

.rituals{
  background-color: #afa7b6;
}

.myths {
  background-color: 	#6f708e;
}*/
