html{



  }

body{
  margin:0;
  cursor: url(https://cursors3.totallyfreecursors.com/thumbnails/flag.gif), auto;


}
.scroll-left {

 overflow: hidden;
 position: sticky;
 background: black;
 color: white;
 height: 3em;
 padding: 1em;
}
.scroll-left p {
  font-family: sans-serif;
  font-size: 1em;
 position: absolute;
 min-width: 250vw;
 margin: 0;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(0%);
 }
 100% {
 transform: translateX(-100%);
 }
}}


p{

 font-size: 14px;

}

header{

  font-family: 'Dela Gothic One', cursive;
  position:sticky;
  top:0;
  margin: 1em;

}


.collapsible-header{
  font-family: 'Dela Gothic One', cursive;
  cursor: url(https://cursors0.totallyfreecursors.com/thumbnails/skull-flag.gif), auto;
  color: black;
  padding: 1em;
  width: 100%;
  border: none;
  background-color: #455a64;
  text-align: left;
  outline: none;
  font-size: 1em;
  transition: 0.4s;
}

.collapsible-body{
  font-family: 'Gochi Hand', cursive;
  margin: auto;
  width: 50%;
  padding: 2em 0;
  width: 50em;
  color: white;

}


img{
  margin: auto;
  width: 50%;
    width: 45em;
    border-radius: 1em;
}

#intro{
  background:#6F8FAF;
}


#symbols{
  background-color: red;
}

#rituals{
  background-color: blue;
}

#myths{
  background-color: #B6D0E2;
}

/*.section-container{
  max-width: 60em;
}

.intro{
  background:#fcf2e9;
}


.symbols{
  background-color:#d5d1d6;
}

.rituals{
  background-color: #afa7b6;
}

.myths {
  background-color: 	#6f708e;
}*/
