body{

  margin:0;

}
.scroll-left {
 overflow: hidden;
 position: sticky;
 background: black;
 color: white;
 height: 1em;
 padding: 1em;
}
.scroll-left p {
  font-family: sans-serif;
  font-size: 1em;
 position: absolute;
 min-width: 250vw;
 margin: 0;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(0%);
 }
 100% {
 transform: translateX(-100%);
 }
}}


p{
  font-family: 'PT Serif', serif;
 font-size: 14px;
 max-width: 60em;

}

header{
  font-family: 'Dela Gothic One', cursive;
  position:sticky;
  top:0;
  margin: 1em;

}

h1{
  font-size: 1.5em;
}

.accordion{
  font-family: 'Dela Gothic One', cursive;
  background-image: linear-gradient(red, blue);
  color: white;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  transition: 0.4s;
}

.panel{
  margin: auto;
 width: 50%;

  margin: 2em 10em;
}

#intro{
  background:red;
}


#symbols{
  background-color:blue;
}

#rituals{
  background-color: #afa7b6;
}

/*.section-container{
  max-width: 60em;
}

.intro{
  background:#fcf2e9;
}


.symbols{
  background-color:#d5d1d6;
}

.rituals{
  background-color: #afa7b6;
}

.myths {
  background-color: 	#6f708e;
}*/
